html {
    margin-top: 30vh;
    background-color: #106;
    #heading {
        color: #d0d6e2;
    }
    #thisTable {
        background-color: #106;
        color: #d0d6e2;
        th {
            color: #d0d6e2;
        }
    }
}